.container {
  position: absolute;
  top: 50px;
  left: 60px;
  z-index: 10;
  width: 100%;
  max-width: 396px;
  min-width: 320px;
  min-height: 200px;
  padding: 32px 28px 44px;
  border-radius: 16px;
  background: #fff;
  max-height: 85vh;
  overflow: hidden;
}

.search {
  h2 {
    margin-bottom: 12px;
  }

  h3 {
    padding-top: 12px;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
  }

  .main-input {
    margin-bottom: 15px;
  }
}

.status {
  display: flex;
  flex-flow: row wrap;
  row-gap: 8px;

  & > div {
    flex-basis: 50%;
  }

  & > div:last-child {
    flex-grow: 1;
  }
}
