@import './app/scss/typography';
@import './app/scss/controls';
@import '~leaflet/dist/leaflet.css';

:root {
  --black: #121212;
  --white: #fff;
  --orange: #eb5525;
  --orange-400: #c43000;
  --orange-200: #f27e59;
  --grey-100: #efefef;
}

/* #region Reboot styles */
html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;

  // TODO:remove
  background-color: var(--grey-100);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.1s ease-in-out;

  &[role='button'] {
    cursor: pointer;
  }
}

/* #endregion */
